Checks: >
  llvm-*,clang-analyzer-*,
  performance-*,bugprone-*,
  readability-*,
  -llvm-header-guard,
  -readability-avoid-const-params-in-decls,
  -clang-analyzer-security.insecureAPI.DeprecatedOrUnsafeBufferHandling,
  -readability-enum-initial-value,
  -readability-function-cognitive-complexity,
  -bugprone-easily-swappable-parameters,
  -bugprone-reserved-identifier,-warnings-as-errors
WarningsAsErrors: '*'
